.navigation {
  height: 56px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #b9b9b9;
  position: sticky;
  top: 0;
}

.navigation * {
  background-color: #fff !important;
}

.nav-section {
  display: flex;
  margin: 0 2rem;
}

.nav-section > * {
  margin-right: 2rem;
}

.nav-section > *:hover {
  color: #74e4ff;
  cursor: pointer;
  transition: 0.2s;
}

.nav-icon {
  font-size: 1.5rem;
}

.account-action {
  display: flex;
}

.menu {
  display: none;
  position: absolute;
}

.hamburger-menu {
  min-width: 100px;
  display: none;
  position: absolute;
  top: 0;
  left: 30px;
}

.hamburger-menu > * {
  margin-bottom: 1rem;
}

.topic-list-item {
  display: flex;
}

.topic-list {
  margin-left: 10px;
}

.topic-arrow {
  margin-left: 5px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav-section {
    display: none;
  }
  .menu {
    display: flex;
  }

  .hamburger-menu {
    display: block;
  }
}
