.home {
  display: flex;
}

.card-container {
  margin-top: 2rem;
  max-width: 50%;
}

@media screen and (max-width: 768px) {
  .right-content {
    display: none;
  }

  .home {
    justify-content: center;
  }

  .card-container {
    align-items: center;
  }
}
