.card {
  max-width: 692px;
}

.top-section {
  display: flex;
  justify-content: space-between;
}

.avatar {
  height: 50px;
  width: 50px;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  padding: 0.25rem;
}

.delete-icon {
  cursor: pointer;
}

.article {
  cursor: pointer;
}

.article-info {
  display: flex;
  justify-content: space-between;
}

.topic {
  font-size: 0.75rem;
  padding: 0.25rem;
}

.comment {
  border-top: 1px solid #f1f2f2;
  display: flex;
  justify-content: end;
  font-size: 1.25rem;
}

.comment-icon:hover {
  cursor: pointer;
}
