.avatar {
  height: 30px;
  width: 30px;
  border: 1px solid white;
  border-radius: 50%;

  color: white;
  padding: 0.25rem;
}

.comment-top-section {
  display: flex;
  justify-content: space-between;
}

.comment-date {
  margin-left: 1rem;
}

.delete-icon:hover {
  cursor: pointer;
}

.comment-text {
  border-bottom: 1px solid #f1f2f2;
  margin-bottom: 1rem;
}

@media screen and (max-width: 540px) {
  .user-info {
    display: flex;
    flex-direction: column;
  }

  .comment-date {
    margin: 0;
  }
}
