.sidebar-container {
  margin-top: 2rem;
  max-height: 25%;
  width: 250px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
}

.sidebar-item {
  width: 100%;
  text-align: center;
}

.sidebar-item:hover {
  background-color: #74e4ff;
  color: #fff;
  transition: 0.2s;
}
