.user {
  margin: 3rem auto;
  width: 80%;
  padding: 5rem;
}

.user-credentials {
  padding: 2rem;
  border: 1px solid #74e4ff;
  border-radius: 1rem;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  font-size: 6rem;
  padding: 1rem;
}

.username {
  font-size: 2rem;
}

.show-blog-btn {
  display: flex;
  justify-content: end;
  margin-bottom: 1rem;
}

.show-blog-btn button:hover {
  color: #74e4ff;
  transition: 0.2s;
}

.profile-message {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  font-size: 2rem;
}
