.user {
  margin: 3rem auto;
  max-width: 692px;
  padding: 3rem;
}

.user-section {
  padding: 2rem;
  border: 1px solid #74e4ff;
  border-radius: 1rem;
  position: relative;
}

.user-info {
  display: flex;
}

.avatar {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  font-size: 6rem;
  padding: 1rem;
}

.username {
  margin-left: 1rem;
  font-size: 2rem;
}

.edit-user {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.5rem;
}

.edit-user:hover {
  color: #74e4ff;
  cursor: pointer;
  transition: 0.2s;
}

.show-blog-btn {
  display: flex;
  justify-content: end;
  margin-bottom: 1rem;
}

.show-blog-btn button:hover {
  color: #74e4ff;
  transition: 0.2s;
}

.profile-message {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  font-size: 2rem;
}

@media screen and (max-width: 640px) {
  .user-info {
    flex-direction: column;
  }

  .avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 2rem;
    padding: 1rem;
  }

  .username {
    margin: 0;
    font-size: 2rem;
  }
}
